* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.navbar {
  padding: 10px 10px;
  width: 90%;

  margin-left: 40px;
  box-shadow: 0 3px 3px lightgray;
  background-color: white;
  margin-top: 60px;
  display: flex;
  flex-wrap: nowrap;
}
.navbar,
a {
  text-decoration: none;
  color: black;
  padding-right: 13px;
}
.cm {
  font-weight: bold;
}

.img1,
.img2 {
  margin-bottom: -4px;
}
.logo {
  font-size: 30px;
  font-weight: 700;
  padding-right: 25%;
}

.signin {
  border-radius: 7px;
  padding: 10px;
  border: 1px solid black;
  margin-right: 5px;
  margin-left: 30%;
}

.campaign {
  background-color: #281133;
  color: white;
  border-radius: 7px;
  padding: 10px;
  border: 1px solid black;
}
.heading {
  text-align: center;
}

.section-2 {
  display: flex;

  justify-content: center;
}
.donate {
  background-color: #281133;
  color: white;
  padding: 10px 120px;
  border-radius: 15px;
}
.section-3 {
  margin: 20px;
  margin-top: -1.2px;
}
.child {
  width: 100%;
  max-width: 500px;
  height: 50%;
}
.button1 {
  padding: 10px 150px;
  background-color: white;
  border-radius: 9px;
  border: 1px solid gray;
}

.box-1 {
  background-color: #e0f7fa;
  margin-top: 20px;
  padding-left: 15px;
  width: 100%;
}

.line {
  display: flex;
  padding: 0 50px;
}

.text {
  font-weight: 400;
  margin: 0 50px;
  font-size: 18px;
}

.button2 {
  padding: 10px 40px;
  border-radius: 15px;
  background-color: #281133;
  color: white;
  border: 1px solid gray;
  margin: 0 60px 10px 50px;
}

.button3 {
  padding: 10px 50px;
  background-color: lightgray;
  border-radius: 10px;
  border: none;
}
.word2 {
  padding: 0 50px;
}
.footer {
  background-color: lightgreen;
  padding: 30px 30px 30px 50px;
}

.last {
  display: flex;
  padding: -10px;
}

.button4 {
  background-color: lightgreen;
  border: 1px solid gray;
  margin-left: 10%;
  width: 100px;
  height: 40px;
  margin-top: 30px;
}

.last-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer-column {
  width: 23%;
  min-width: 150px;
}
.last-2 {
  display: flex;
  margin-top: 30px;
}

.last-3 {
  font-size: 19px;
  line-height: 0.5;
  font-weight: 400;
  padding-right: 25%;
}
.word {
  font-size: 19px;
  padding-top: 13px;
  padding-left: 10%;
}
.last-4 {
  text-align: center;
  font-size: 17px;
}
.last-5 {
  background-color: lightgreen;
  padding: 10px 20px;
  border: 1px solid none;
}
.button5 {
  background-color: #281133;
  padding: 13px;
  color: white;
  border: none;
  margin-left: 20px;
}

.icon {
  display: none;
}
.meds {
  color: white;
  font-size: 30px;
}

/* Phone styling */
@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 16px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .signin,
  .cm,
  .campaign,
  .img1,
  .works {
    display: none;
  }
  .navbar {
    width: 85%;
  }
  .icon {
    display: flex;
    font-size: 45px;
    cursor: pointer;
    position: relative;
    right: -60px;
  }
  h2 {
    font-size: 15px;
  }
  .section-2 {
    display: grid;
  }
  .child {
    width: 90%;
    height: 300px;
    margin-left: 20px;
  }
  .donate {
    margin-top: 20px;
    margin-left: 39px;
  }

  .line {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: -20px;
    margin: 0 0 0 50px;
  }

  .text {
    font-size: 15px;
  }
  .phone {
    display: flex;
  }

  .button2 {
    padding: 10px 20px;
  }
  .button3 {
    padding: 8px 25px;
  }
  .button1 {
    padding: 10px 80px;
    margin-left: 50px;
  }
  .word2 {
    font-size: 18px;
  }

  .last {
    display: grid;
  }

  .word {
    display: flex;
    font-size: 15px;
    margin-left: -50px;
    margin-top: -20px;
  }
  .meds {
    font-size: 38px;
    margin-left: -8px;
  }

  .button4 {
    margin: -3px 0 5px -10px;
  }

  .last-2 {
    display: grid;
  }
  .last-3 {
    font-size: 13px;
  }
  .last-4 {
    font-size: 12px;
  }
  .footer-column {
    width: 48%;
    margin-bottom: 15px;
  }
  .Contact {
    font-size: 10px;
  }
}
